@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

/*Css da HOME! */

.container {
background-image: url(../assets/jesusdeserto1.png); /*so coloquei a imagem */
background-attachment: fixed; /*Aqui ele esta fixando mesmo que role a tela */
background-size: cover; /*Arruma a imagem */
height: 95vh;
width: 100%;
}

header {
    display: flex;
    align-items: center;  /*Alinhou o texto no centro (sentido y) */
    justify-content: space-between; /*Separou os elementos */
    padding: 0 30px;
    height: 110px;

}

.logo {
    width: 80%;
}

/* Onde está a imagem da home */
.navbar-logo {
    display: flex;
    align-items: center;
}

/*Inicio, sobre, curiosidades  */
.navbar {
    width: 33.3%;
    display: flex;
    justify-content: space-between;
}

/*Quase a mesma coisa, pórem cada palavra em especifico */
.navbar a {
    color: white;
    font-weight: 700; /*  Peso da fonte (importada do google) */
    font-size: 25px; /*Tamanho da fonte */
}


/*Buttons */
.navbar-buttons {
    width: 14%;
    display: flex;
    justify-content: space-between;
}

.navbar-buttons::before {
    width: 100%;
    height: 0;
    z-index: -1;
    transition: 0.8s;
}

.one::before,.two::before {
    top: 0;
    border-radius: 50% 50% 50% 50%;
}

.one::before,.two::before {
   height: 180%;
}

.one:hover::before,.two:hover::before {
   height: 0;
}

/*Button "Entrar" */
.one {
    background-color: transparent;
    border: 2px solid #06CDBD;
    border-radius: 8%; /*Borda */
    height: 40px;
    width: 100px;
    font-weight: 700;
    color: white;
    cursor: pointer;
    transition: color 0.7s linear;
}



/*Button "Cadastre-se" */
.two {
    background-color: #06CDBD;
    border: none;
    border-radius: 8%;
    height: 40px;
    width: 100px;
    font-weight: 700;
    color: white;
}

.textohome {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%); 
    justify-content: left;
}

.textohome p {
    color: white;
    font-size: 25px;
}

.parte1 {
    font-weight: 700;
}

.parte2 {
    font-weight: 800;
}

/*SECTION CURIOSIDADES */

.Curiosidades {
  background-image: url(assets/image\ 5.png);
  background-size: 100% 300vh;
  background-repeat: repeat-y;
  box-shadow: #06cdbca4 0px 150px 300px -15px inset;
  height: 270vh;
  text-align: center;
  padding: 60px;
  position: relative;
  }
  
  .textocuriosidades h1{
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;
}

/*Imagem dos peixes de fundo 1  */

.imagemfundo {
    width: 80vh;
    height: 80vh;
    position: absolute;
    right: -50vh;
    opacity: 0.4;
}

/*Imagem dos peixes de fundo 1  */
.imagemfundo2 {
    width: 80vh;
    height: 80vh;
    position: absolute;
    left: -50vh;
    opacity: 0.2;
    bottom: 50vh;
}

/* Fotos e textos */

.assets {
width: 100%;
height: 100%;
}

/* 1 img e texto */

.textoeimg1 {
width: 100%;
height: 50vh;
display: flex;
justify-content: space-around;
flex-direction: row; /*Flexiona a pagina na direçao */

}

.texto1{
display: flex;
width: 100%;
height: 100%;
align-items: center;
text-align: start;
font-weight: 800;
font-size: 25px;
}

.textoeimg1 img{
    width: 550px;
    height: 100%;
}

/* 2 img e texto */

.imgetexto2 {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

.texto2 {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: left;
    font-weight: 800;
    font-size: 25px;
    margin: 50px;
}



/* 3 img e texto */

.textoeimg3 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row; /*Flexiona a pagina na direçao */
    align-items: flex-start;
    }
    
    .texto3{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: start;
    font-weight: 800;
    font-size: 25px;
    justify-content: space-between;
    }
    
    .textoeimg3 img{
       
        margin-right: 7vh;
    }
    
/* 4 img e texto */

    .imgetexto4 {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
      
        
    }
    
    .texto4 {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: left;
        font-weight: 800;
        font-size: 25px;
        margin: 50px;
        
    }

    /* 5 img e texto */

.textoeimg5 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row; /*Flexiona a pagina na direçao */
    align-items: flex-start;
    }
    
    .texto5 {
    margin-top: 10vh;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: start;
    font-weight: 800;
    font-size: 25px;
    justify-content: space-between;
    }
    
    .textoeimg5 img{
    margin-top: 2vh;
    width: 300px;
    height: 90%;
    }

    /*Terceira tela - Tela "Sobre" */

    .sobre {
    background-image: url(assets/image\ 5.png);
    background-size: 100% 300vh;
    background-repeat: repeat-y;
    box-shadow: #06cdbc86 50px 250px 300px -15px inset;
    height: 80vh;
    text-align: center;
    padding: 60px;
    position: relative;
    }
            
    .telasobre h1{
    font-weight: 800;
    font-size: 50px;
    color: #ffffff;
    }

    .textosobre {
        display: flex;
        width: 95%;
        height: 50vh;
        align-items: center;
        text-align: left;
        justify-content: center;
        font-size: 25px;
        margin: 60px;
    }

    .textosobre p {
        font-weight: 800;
    }

    .textop {
        width: 90vh;

    }

    /*Imagem de Jesus preta e branca no canto direito inferior da tela */

    .jesus {
        width: 80vh;
        height: 30vh;
        position: absolute;
        right: -11vh;
        top: 37vh;
        opacity: 0.8;
    }