.container {
  background-image: url(../assets/jesusdeserto1.png); /*so coloquei a imagem */
  background-attachment: fixed; /*Aqui ele esta fixando mesmo que role a tela */
  background-size: cover; /*Arruma a imagem */
  height: 95vh;
  width: 100%;
  }
  
  header {
      display: flex;
      align-items: center;  /*Alinhou o texto no centro (sentido y) */
      justify-content: space-between; /*Separou os elementos */
      padding: 0 30px;
      height: 110px;
  
  }
  
  .logo {
      width: 80%;
  }
  
  /* Onde está a imagem da home */
  .navbar-logo {
      display: flex;
      align-items: center;
  }
  
  /*Inicio, sobre, curiosidades  */
  .navbar {
      width: 33.3%;
      display: flex;
      justify-content: space-between;
  }
  
  /*Quase a mesma coisa, pórem cada palavra em especifico */
  .navbar a {
      color: white;
      font-weight: 700; /*  Peso da fonte (importada do google) */
      font-size: 25px; /*Tamanho da fonte */
  }
  
  
  /*Buttons */
  .navbar-buttons {
      width: 14%;
      display: flex;
      justify-content: space-between;
  }
  
  .navbar-buttons::before {
      width: 100%;
      height: 0;
      z-index: -1;
      transition: 0.8s;
  }
  
  .one::before,.two::before {
      top: 0;
      border-radius: 50% 50% 50% 50%;
  }
  
  .one::before,.two::before {
     height: 180%;
  }
  
  .one:hover::before,.two:hover::before {
     height: 0;
  }
  
  /*Button "Entrar" */
  .one {
      background-color: transparent;
      border: 2px solid #06CDBD;
      border-radius: 8%; /*Borda */
      height: 40px;
      width: 100px;
      font-weight: 700;
      color: white;
      cursor: pointer;
      transition: color 0.7s linear;
  }
  
  
  
  /*Button "Cadastre-se" */
  .two {
      background-color: #06CDBD;
      cursor: pointer;
      border: none;
      border-radius: 8%;
      height: 40px;
      width: 100px;
      font-weight: 700;
      color: white;
  }
  
  .textohome {
      position: absolute;
      top: 50%;
      left: 18%;
      transform: translate(-50%, -50%); 
      justify-content: left;
  }
  
  .textohome p {
      color: white;
      font-size: 25px;
  }
  
  .parte1 {
      font-weight: 700;
  }
  
  .parte2 {
      font-weight: 800;
  }