@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/*Css da HOME! */

.container {
background-image: url(assets/jesusdeserto1.png); /*so coloquei a imagem */
background-attachment: fixed; /*Aqui ele esta fixando mesmo que role a tela */
background-size: cover; /*Arruma a imagem */
height: 95vh;

}

header {
    display: flex;
    align-items: center;  /*Alinhou o texto no centro (sentido y) */
    justify-content: space-between; /*Separou os elementos */
    padding: 0 30px;
    height: 110px;

}

.logo {
    width: 80%;
}

/* Onde está a imagem da home */
.navbar-logo {
    display: flex;
    align-items: center;
}

/*Inicio, sobre, curiosidades  */
.navbar {
    width: 33.3%;
    display: flex;
    justify-content: space-between;
}

/*Quase a mesma coisa, pórem cada palavra em especifico */
.navbar a {
    color: white;
    font-weight: 700; /*  Peso da fonte (importada do google) */
    font-size: 25px; /*Tamanho da fonte */
}


/*Buttons */
.navbar-buttons {
    width: 14%;
    display: flex;
    justify-content: space-between;
}

/*Button "Entrar" */
.one {
    background-color: transparent;
    border: 2px solid #06CDBD;
    border-radius: 8%; /*Borda */
    height: 40px;
    width: 100px;
    font-weight: 700;
    color: white;
}
/*Button "Cadastre-se" */
.two {
    background-color: #06CDBD;
    border: none;
    border-radius: 8%;
    height: 40px;
    width: 100px;
    font-weight: 700;
    color: white;
}

.textohome {
    position: absolute;
    top: 50%;
    left: 18%;
    transform: translate(-50%, -50%); 
    justify-content: left;
}

.textohome p {
    color: white;
    font-size: 25px;
}

.parte1 {
    font-weight: 700;
}

.parte2 {
    font-weight: 800;
}

/*SECTION CURIOSIDADES */

.Curiosidades {
  background-image: url(assets/image\ 5.png);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 60px;
  }
  
  .textocuriosidades h1{
    font-weight: 800;
    font-size: 40px;
    color: #83989D;
}

