@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

body {
  background-color: black;
  overflow-y: hidden;
}

/*Começo do nav-bar*/

.container {
  background-color: #06CDBD; /*so coloquei a imagem */
  background-image: url(../assets/logo.png);
   background-attachment: fixed; /*Aqui ele esta fixando mesmo que role a tela */
   background-size: cover; /*Arruma a imagem */
   height: 12vh;
   width: 100%;
   }
   
   header {
       display: flex;
       align-items: center;  /*Alinhou o texto no centro (sentido y) */
       justify-content: space-between; /*Separou os elementos */
       padding: 0 30px;
       height: 110px;
   
   }
   
   .logo {
       width: 80%;
   }
   
   /* Onde está a imagem da home */
   .navbar-logo {
       display: flex;
       align-items: center;
   }
   
   /*Inicio, sobre, curiosidades  */
   .navbar {
       width: 33.3%;
       display: flex;
       justify-content: space-between;
   }
   
   /*Quase a mesma coisa, pórem cada palavra em especifico */
   .navbar a {
       color: white;
       font-weight: 700; /*  Peso da fonte (importada do google) */
       font-size: 25px; /*Tamanho da fonte */
   }
   
   
   /*Buttons */
   .navbar-buttons {
       width: 14%;
       display: flex;
       justify-content: space-between;
   }
   
   .navbar-buttons::before {
       width: 100%;
       height: 0;
       z-index: -1;
       transition: 0.8s;
   }
   
   .one::before,.two::before {
       top: 0;
       border-radius: 50% 50% 50% 50%;
   }
   
   .one::before,.two::before {
      height: 180%;
   }
   
   .one:hover::before,.two:hover::before {
      height: 0;
   }
   
   /*Button "Entrar" */
   .one {
       background-color: transparent;
       border: 2px solid #000000;
       border-radius: 8%; /*Borda */
       height: 4vh;
       width: 12vh;
       font-weight: 700;
       color: white;
       cursor: pointer;
       transition: color 0.7s linear;
       margin-left: -7vh;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 0.5vh;
      
   }
   
   
   /*Button "Cadastre-se" */
   .two {
       background-color: #000000;
       cursor: pointer;
       border: none;
       border-radius: 8%;
       height: 4vh;
       width: 16vh;
       font-weight: 700;
       color: white;
       margin-right: 3vh;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 0.5vh;
     
   }
 
 
 /*Fim da nav-bar */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.caixa-login {
  width: auto;
  padding: 50px 60px 90px 60px;
  height: 40vh;
  background-color: rgba(6, 205, 189, 0.79);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 66px;
  position: relative;
  margin-top: -8vh;
}

/* .imagem-login {
  width: 30vh;
  height: 30vh;
  position: absolute;
  bottom: -20px;
  right: 0;
} */

/* PARTE DA API */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 230px;
  position: fixed;
  border-radius: 28px;
  border: #06cdbc74 3px solid;
  padding: 10px;
  margin-right: 10.5%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.peixes {
 width: 1vh;
 height: 1vh;
}

.logoIMG {
  margin-bottom: 30px;
}

.inputs {
  width: 20vw;
  padding: 0 20px 0 0;
}

#genero {
  width: 106%;
  border-radius: 66px;
  border: 2px solid white;
  padding: 10px 10px;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 500;
 
 
}

#genero option {
  display: flex;
  margin-right: 10px
}

input {
    width: 100%;
    border-radius: 66px;
    border: 2px solid white;
    padding: 10px 10px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
}

input:focus {
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

input::placeholder {
  text-align: center;
  color: black;
  font-weight: 600;
}

.input-dobrado {
  display: flex;
}

.input-principal {
  margin-right: 30px;
}

button {
  background-color: black;
  color: white;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 1.3rem;
  padding: 10px 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
  transition: 0.5s;
}

button:hover {
  background-color: transparent;
  color: black;
}

.topo {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imgtopo {
  width: 5px;
  height: 5px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
height: 50px;
width: 50px;
}

#div_erros_login {
  display: none;
}

