@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,4body00;0,500;0,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

/*Css da HOME! */

.container {
  background-image: url(../assets/jesusdeserto1.png); /*so coloquei a imagem */
  background-attachment: fixed; /*Aqui ele esta fixando mesmo que role a tela */
  background-size: cover; /*Arruma a imagem */
  height: 95vh;
  width: 100%;
}

header {
  display: flex;
  align-items: center; /*Alinhou o texto no centro (sentido y) */
  justify-content: space-between; /*Separou os elementos */
  padding: 0 30px;
  height: 110px;
}

.logo {
  width: 80%;
}

/* Onde está a imagem da home */
.navbar-logo {
  display: flex;
  align-items: center;
}

/*Inicio, sobre, curiosidades  */
.navbar {
  width: 33.3%;
  display: flex;
  justify-content: space-between;
}

/*Quase a mesma coisa, pórem cada palavra em especifico */
.navbar a {
  color: white;
  font-weight: 700; /*  Peso da fonte (importada do google) */
  font-size: 25px; /*Tamanho da fonte */
}

/*Buttons */
.navbar-buttons {
  width: 18%;
  display: flex;
  justify-content: space-between;
}

.navbar-buttons::before {
  width: 100%;
  height: 0;
  z-index: -1;
  transition: 0.8s;
}

.one::before,
.two::before {
  top: 0;
  border-radius: 50% 50% 50% 50%;
}

.one::before,
.two::before {
  height: 180%;
}

.one:hover::before,
.two:hover::before {
  height: 0;
}

/*Button "Entrar" */
.one {
  background-color: transparent;
  border: 2px solid #06cdbd;
  border-radius: 8%; /*Borda */
  height: 40px;
  width: 100px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: color 0.7s linear;
}

/*Button "Cadastre-se" */
.two {
  background-color: #06cdbd;
  cursor: pointer;
  border: none;
  border-radius: 8%;
  height: 40px;
  width: 100px;
  font-weight: 700;
  color: white;
  list-style-type: none;
}

.textohome {
  position: absolute;
  top: 50%;
  left: 24%;
  transform: translate(-50%, -50%);
  justify-content: left;
}

.textohome p {
  color: white;
  font-size: 25px;
}

.parte1 {
  font-weight: 700;
}

.parte2 {
  font-weight: 800;
}

/*SECTION CURIOSIDADES */

.Curiosidades {
  background-image: url(assets/image\ 5.png);
  background-size: 100% 300vh;
  background-repeat: repeat-y;
  box-shadow: #06cdbca4 0px 150px 300px -15px inset;
  height: 330vh;
  text-align: center;
  padding: 60px;
  position: relative;
}

.textocuriosidades h1 {
  font-weight: 800;
  font-size: 40px;
  color: #ffffff;
}

/*Imagem dos peixes de fundo 1  */

.imagemfundo {
  width: 80vh;
  height: 80vh;
  position: absolute;
  right: -50vh;
  opacity: 0.4;
}

/*Imagem dos peixes de fundo 1  */
.imagemfundo2 {
  width: 80vh;
  height: 80vh;
  position: absolute;
  left: -50vh;
  opacity: 0.2;
  bottom: 50vh;
}

/* Fotos e textos */

.assets {
  width: 100%;
  height: 100%;
}

/* 1 img e texto */

.textoeimg1 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row; /*Flexiona a pagina na direçao */
}

.texto1 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: start;
  font-weight: 500;
  font-size: 25px;
}

.textoeimg1 img {
  width: 550px;
  height: 100%;
}

/* 2 img e texto */

.imgetexto2 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 7vh;
}

.texto2 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  margin: 50px;
  margin-top: 7vh;
}

/* 3 img e texto */

.textoeimg3 {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row; /*Flexiona a pagina na direçao */
  align-items: flex-start;
  margin-top: 7vh;
}

.texto3 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: start;
  font-weight: 500;
  font-size: 25px;
  justify-content: space-between;
  margin-top: 7vh;
}

.textoeimg3 img {
}

/* 4 img e texto */

.imgetexto4 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20vh;
}

.texto4 {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: left;
  font-weight: 500;
  font-size: 25px;
  margin: 50px;
  margin-top: 7vh;
}

/* 5 img e texto */

.textoeimg5 {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: row; /*Flexiona a pagina na direçao */
  align-items: flex-start;
}

.texto5 {
  margin-top: 10vh;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: start;
  font-weight: 500;
  font-size: 25px;
  justify-content: space-between;
  margin-top: 30vh;
}

.textoeimg5 img {
  margin-top: 5vh;
  width: 300px;
  height: 90%;
}

/*Terceira tela - Tela "Sobre" */

.sobre {
  background-image: url(assets/image\ 5.png);
  background-size: 100% 300vh;
  background-repeat: repeat-y;
  box-shadow: #06cdbc86 50px 250px 300px -15px inset;
  height: 140vh;
  text-align: center;
  padding: 60px;
  position: relative;
}

.telasobre h1 {
  margin-top: -3vh;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
}

.textosobre {
  display: flex;
  width: 95%;
  height: 50vh;
  align-items: center;
  text-align: left;
  justify-content: center;
  font-size: 25px;
  margin: 60px;
  margin-top: 39vh;
}

.textosobre p {
  font-weight: 500;
  color: #000000;
}

.textop {
  margin-top: 12vh;
  width: 90vh;
}

/*Imagem de Jesus preta e branca no canto direito inferior da tela */

.jesus {
  width: 80vh;
  height: 30vh;
  position: absolute;
  right: 8vh;
  margin-top: 24.3vh;
}

/*                         Footer                        */

.footer {
  width: 100%;
  height: 23vh;
  background-color: #06cdbc;
  box-shadow: #000000b0 0px 150px 300px -15px inset;
}

.footer h2 {
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 3vh;
}

.footer p {
  color: white;
  justify-content: center;
  text-align: center;
  padding-top: 2vh;
  font-size: 20px;
}

.footer p img {
  width: 1%;
}

.logos {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.logos a {
  width: 10%;
}

.logo-instagram {
  width: 25%;
  margin-left: 50%;
}

.logo-github {
  width: 25%;
  margin-right: 0%;
}

.seta {
  display: flex;
  justify-content: right;
  margin-top: -9vh;
  transform: translateY(-5%);
}

.seta img {
  animation: moveArrow 2s infinite;
  width: 5%;
  right: 60px;
  height: auto;
  position: absolute;
}

@keyframes moveArrow {
    0% { transform: translateY(-50%); }
    50% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }
/*ALERTA DE ERRO DA API */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #06cdbcc0 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}
