@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
}

/*FUNDO DA TELA DO GRAFICO */
.inicio {
  background-color: #06cdbc4f;
  border-bottom: 0;
  height: 100vh;
}

/*CABECARIO */
header {
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 3px 3px #00000061;
  padding: 1vh 5vh;
  position: fixed;
}

.header {
  width: 190vh;
  height: 10vh;
  background-color: #06cdbd;
}

.logo {
  display: flex;
  margin-left: 80vh;
  
}

.logo img {
  display: flex;
  height: 9vh;
  cursor: pointer;

}


.paizao {
  display: flex;
  width: 59vh;
  margin-left: 72vh;
  margin-top: -65vh;
}

.container-quiz {
  width: 500px;
  padding: 20px;
  min-height: 100px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.37);
  border-radius: 25px;
}

.cabecario-quiz {
  background-color:  #06cdbd;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: -20px -20px 20px;
  border-radius: 25px 25px 0 0;
  font-size: 20px;
}

.caixas_de_perguntas {
  display: none;
}
.caixas_de_perguntas.ativar {
  display: block;
}
.caixas_de_perguntas h4 {
  margin: 0 0 15px;
  font-size: 20px;
}
.perguntas {
  position: relative;
  margin-bottom: 10px;
}

.perguntas input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.perguntas span {
  display: block;
  padding: 8px 15px;
  background-color: #dcfff4;
  border-radius: 15px;
  transition: all 0.3s ease-out;
}

.perguntas:hover span {
  background-color: #9ab5ac;
}

.perguntas input:checked + span {
  background-color: #ff0000;
}

.perguntas input[valid]:checked + span {
  background-color: green;
  color: #fff;
}

.footer_quiz {
  padding: 10px 0 0;
  text-align: right;
}

.btn1 {
  display: inline-block;
  padding: 8px 20px;
  background-color: #06cdbd;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.finalizar {
  display: inline-block;
  padding: 8px 20px;
  background-color: #06cdbd;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.tentarNovamente {
  display: inline-block;
  padding: 8px 20px;
  background-color:  #06cdbd;
  color: #ffffff;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.8s ease-out;
}

.btn:hover {
  background-color: #ffffff;
}

.tentarNovamente:hover {
  background-color: #ffffff;
}

.finalizar:hover {
  background-color: #ffffff;
}