body {
  font-family: arial;
  font-size: 16px;
  margin: 0;
  background-color: #06cdbc75;
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

/*Começo do nav-bar*/

.container {
  background-color: #06cdbd; /*so coloquei a imagem */
  background-image: url(../assets/logo.png);
  background-attachment: fixed; /*Aqui ele esta fixando mesmo que role a tela */
  background-size: cover; /*Arruma a imagem */
  height: 12vh;
  width: 100%;
}

header {
  display: flex;
  align-items: center; /*Alinhou o texto no centro (sentido y) */
  justify-content: center; /*Separou os elementos */
  padding: 0 30px;
  height: 110px;
}

.logo {
  width: 80%;
}

/* Onde está a imagem da home */
.navbar-logo {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

}

/* Onde está a imagem dos peixes na esquerda */
.logo-peixes {
  position: fixed;
  left: -14%;
  transform: translateY(-10%);
  margin-top: 100%;
  
}

.logo-peixes img {
  width: 187%;
}